@import "../../../data/styles.css";

.homepage-education {
	width: 90%;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	margin-bottom: 10px;
}

.homepage-education:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.homepage-education-content {
	padding: 30px;
}

.homepage-education-school {
	opacity: 1;
	color: var(--tertiary-color);
	font-size: 12px;
	margin-bottom: 1em;
}

.homepage-education-degree {
	opacity: 1;
	color: var(--primary-color);
	font-size: 16px;
	margin-bottom: 1em;
	font-weight: 700;
}

.homepage-education-field {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
	margin-bottom: 0.5em;
}

.homepage-education-description {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 1em;
}

.homepage-education-duration {
	opacity: 1;
	color: var(--tertiary-color);
	font-size: 11px;
	font-weight: 600;
}

@media (max-width: 600px) {
	.homepage-education {
		width: 100%;
	}
}
